@import './variables';

.category-page {
  position: relative;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  z-index: 6;

  background-color: #f2f7f8;

  width: 80%;

  box-shadow: 0 0 20px $box-shadow;

  .wrap__show-product {
    display: flex;
  }

  .filter {
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid $box-shadow;

    h3 {
      width: 20%;
      padding: 15px 60px;
      height: 100%;
      margin: 0;
    }

    .filter__refresh,
    .filter__all,
    .filter__list {
      width: 5%;
      height: 100%;

      border-right: 1px solid $box-shadow;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .filter__sort,
    .filter__show {
      width: 25%;
      height: 100%;

      padding: 15px 50px;

      border-right: 1px solid $box-shadow;
    }

    .sort__list,
    .show__list {
      margin-top: 0.6rem;
      h6 {
        margin: 0;
      }

      display: flex;
      justify-content: space-between;
    }

    .filter__compare {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 15px 50px;

      h6 {
        margin: 0;
      }

      span {
        background-color: $dodger-blue;
        color: $white-smoke;
        border-radius: 50%;

        width: 20px;
        height: 20px;

        font-size: 0.8rem;
        font-weight: bold;

        text-align: center;
      }
    }
  }

  .category__wrap {
    display: flex;

    .sidebar {
      width: 25%;
    }

    .category__wrap__list-product {
      width: 75%;
      display: flex;
      flex-wrap: wrap;

      .product-item {
        width: 33.33%;
      }
    }
  }

  .category__panagation {
    display: flex;

    height: 75px;

    border-top: 1px solid $border-commom;

    .panagation__space {
      width: 25%;
    }

    .panagation__main {
      width: 75%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      .panagation__main__left,
      .panagation__main__right {
        width: 75px;
        height: 100%;

        border-left: 1px solid $border-commom;
        border-right: 1px solid $border-commom;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 75px;
          height: 75px;

          a {
            font-weight: 500;
            font-size: 1.2rem;
            color: $text-color-main;

            text-decoration: none;
          }
        }
      }

      .panagation__main__right {
        border-right: none;
        i {
        }
      }
    }
  }
}
