@import './variables';

.subbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 6rem 0 8rem;
  background-color: $bg-sub-banner;
  border-top: 1px solid $border-color-icon-header;

  h1 {
    color: $white-smoke;
  }

  .breadcrumb {
    background: none;

    .breadcrumb-item {
    }

    a {
      color: $text-color-sub;
      text-decoration: none;
      font-weight: 500;
    }

    a.breadcrumb-item + .breadcrumb-item::before {
      content: '>';
    }

    .active.breadcrumb-item {
      font-weight: 500;
      color: $text-color-sub;
    }
  }
}
