@mixin center($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-$left, -$top);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexNoJust {
  display: flex;
  align-items: center;
}
