@import '../abstracts/variables';
@import '../abstracts/mixins';

.carousel-fix {
  width: 100%;
  height: 900px;
  background: radial-gradient(#505464, $background-color-hp);
  border-top: 1px solid $border-color-icon-header;

  .carousel-indicators {
    right: 0;
    left: 66%;
    bottom: 20%;
    display: flex;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  .carousel-inner {
    height: inherit;

    .carousel-item {
      height: inherit;
      img {
        @include center(50%, 50%);

        width: 50%;
        height: 50%;

        z-index: 2;
      }

      .carousel-caption {
        h3 {
          display: none;
        }

        p {
          display: none;
        }
      }
    }
  }

  .carousel-control-fix-prev {
    left: 5%;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
  }

  .carousel-control-fix-next {
    right: 5%;
    top: 50%;

    width: 40px;
    height: 40px;

    border: 1px solid;
    border-radius: 50%;
  }
}

#btn-fix {
  position: absolute;
  bottom: 20%;
  left: 14%;

  border-radius: 23px;
  padding: 0.6rem 2.4rem;

  box-shadow: 0px 0px 20px #31333d;
}

.title-bg {
  font-size: 10rem;
  color: $white-smoke;
  @include center(40%, 50%);
  z-index: 1;
}

.title {
  color: $white-smoke;
  font-size: 0.8rem;

  position: absolute;
  top: 20%;
  left: 14%;
  span {
    font-size: 2rem;
  }
}
