@import '../abstracts/mixins';

.card-direct {
  width: 25%;
  height: 375px;
  padding: 2rem;

  background-color: $background-black;

  @include flexCenter;
  flex-direction: column;

  img {
    width: 50px;
    height: 50px;
  }

  h3 {
    color: $white-smoke;
    margin: 2rem 0;
    font-size: 1.4rem;
  }

  p {
    color: $text-color-sub;
    text-align: center;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: $white-smoke;

    margin-top: 1rem;

    font-size: 1rem;

    i {
      margin-left: 0.4rem;
    }
  }
}
