@import '../abstracts/variables';
@import '../abstracts/mixins';

.sidebar__category {
  .category__header {
    @include flexBetween;

    padding: 2rem 1.8rem;

    .header__wrap {
      display: flex;
      i {
        margin-right: 1rem;
      }
      h6 {
        margin: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-size: 1rem;
      font-weight: bold;
      color: $text-color-sub;
      cursor: pointer;
    }
  }

  .category__body__list {
    padding: 0 3.6rem;
    transition: all 0.2s;

    .category__item {
      @include flexBetween;

      p {
        font-weight: 500;
        font-size: 1rem;
      }
      span {
        font-size: 1rem;
        font-weight: 500;
        color: $text-color-sub;
      }
    }
  }

  .category__body__price {
    padding: 0 3.6rem;

    .input-range {
      margin: 2rem 0;

      .input-range__label {
        display: none;
      }
    }

    .category__price__value {
      @include flexBetween;

      input {
        padding: 0.6rem 1rem;
        width: 45%;

        font-size: 1rem;

        border: 1px solid $box-shadow;
        border-radius: 30px;
      }
    }
  }

  .category__body__checkbox {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0 3.6rem;

    .form-group {
      width: 100%;
      display: flex;
      justify-content: space-between;

      label {
        font-weight: 500;
        font-size: 1rem;
      }
      .form-check-input {
        position: static;
        width: 16px;
        height: 16px;
      }
    }
  }

  .category__body__color {
    @include flexCenter;

    flex-wrap: wrap;
    padding: 0 3.6rem;

    .color-item {
      width: 30px;
      height: 30px;

      margin-right: 0.8rem;
      margin-bottom: 0.8rem;

      border-radius: 50%;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);

      @include flexCenter;

      i {
        color: $box-shadow;
      }
    }

    .circle {
      width: 30px;
      height: 30px;
      margin-right: 0.8rem;
      margin-bottom: 0.8rem;

      background: conic-gradient(
        #9ed110,
        #50b517,
        #179067,
        #476eaf,
        #9f49ac,
        #cc42a2,
        #ff3ba7,
        #ff5800,
        #ff8100,
        #feac00,
        #ffcc00,
        #ede604
      );
      border-radius: 50%;

      @include flexCenter;

      i {
        display: none;
      }
    }
  }

  .category__body__table {
    display: flex;
    flex-wrap: wrap;

    padding: 0 3.6rem;
    margin-bottom: 2rem;

    .table__item {
      width: 50px;
      height: 50px;

      font-size: 1rem;

      border-top: 1px solid $text-color-sub;
      border-left: 1px solid $text-color-sub;

      @include flexCenter;

      font-weight: bold;

      &:nth-child(5n),
      &:nth-child(27) {
        border-right: 1px solid $text-color-sub;
      }

      &:nth-child(23),
      &:nth-child(24),
      &:nth-child(25),
      &:nth-child(26),
      &:nth-child(27) {
        border-bottom: 1px solid $text-color-sub;
      }
    }
  }
}
