@import '../abstracts/mixins';
@import '../abstracts/variables';

.main {
  background-color: $white-smoke;
  width: 80%;

  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  box-shadow: 0 0 20px $box-shadow;

  //product item commom
  .product-item {
    width: 25%;
  }

  //service line
  .wrap-service {
    display: flex;

    .service-box {
      width: 25%;
      height: 375px;

      @include flexCenter;
      flex-direction: column;

      padding: 2rem;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 1.2rem;
        color: $text-color-main;
      }

      p {
        text-align: center;
        color: $text-color-sub;
        font-size: 1rem;
      }
    }
  }

  //product sale line
  .wrap-product-sale {
    display: flex;

    .product-sale-box {
      width: 50%;
      height: 750px;
      padding: 0 7.8rem;

      background-color: $border-color-item;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-weight: 500;
        color: $text-color-sub;
        font-size: 1rem;
      }

      h2 {
        margin: 1.2rem 0;
      }

      p {
        color: $text-color-sub;
        font-size: 1rem;
        text-align: center;
      }

      .product-sale-box__money {
        display: flex;
        align-items: baseline;

        h1 {
          color: $text-color-price;
          margin-right: 3rem;
          margin-bottom: 0;
        }

        span {
          font-size: 1.4rem;
          text-decoration: line-through;
          color: $text-color-main;
        }
      }

      .product-sale-box__times {
        @include flexNoJust;

        margin-top: 2rem;
        padding: 1rem 1.4rem;

        box-shadow: 0 0 20px rgb(206, 205, 205);
        border-radius: 5px;

        .product-sale-box__times__item {
          @include flexNoJust;
          flex-direction: column;

          margin: 0 0.4rem;

          h4 {
          }
          span {
            font-size: 0.8rem;
            color: $text-color-price;
          }
        }
      }
    }

    .img-show {
      width: 50%;
      height: 750px;

      background-color: #333;

      @include flexCenter;

      h1 {
        color: $text-color-sub;
      }
    }
  }

  //popular product
  .wrap-product-item {
    display: flex;

    .product-item:nth-child(2),
    .product-item:nth-child(3) {
      border: 1px solid $border-color-item;
      border-left: none;
    }

    .product-item:nth-child(4) {
      border: 1px solid $border-color-item;
      border-left: none;
      border-right: none;
    }

    .card-direct {
      width: 25%;
    }
  }

  //product and scale box 750
  .wrap-scale-box {
    @include flexNoJust;
  }

  //product item line normal
  .wrap-product-normal {
    @include flexNoJust;
  }

  //load more item
  .loadmore {
    width: 100%;
    text-align: center;

    i {
      color: $dodger-blue;
      margin-right: 1rem;
    }
  }

  //social wrap all
  .wrap-social {
    @include flexNoJust;
    flex-wrap: wrap;

    .social-box {
      width: 25%;
      height: 375px;
      @include flexCenter;
      flex-direction: column;

      i,
      h6,
      h1,
      span {
        color: $white-smoke;
      }

      i {
        margin-bottom: 3rem;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 2.4rem;
      }

      span {
        font-weight: bold;
      }
    }

    .social-info {
      width: 50%;

      padding: 0 3rem;

      h6 {
        font-weight: 400;
        color: $text-color-sub;
      }

      p {
        font-weight: bold;
        color: $text-color-main;
        font-size: 1.4rem;
        padding-right: 3rem;

        strong {
          color: $dodger-blue;
          font-weight: 400;
        }
      }

      .social-info__wrap {
        display: flex;
        justify-content: space-between;

        .social-info__wrap__status {
          p {
            font-size: 1rem;
            margin-bottom: 0.4rem;
            padding: 0;
          }
          span {
            color: $text-color-sub;
          }
        }

        .social-info__wrap__arrow {
          border: 1px solid $text-color-sub;
          border-radius: 30px;

          @include flexNoJust;

          height: 50px;
          position: relative;

          .arrow-left {
            padding: 0 1rem;
            height: 100%;

            @include flexNoJust;

            border-right: 1px solid $text-color-sub;
          }

          .arrow-right {
            padding: 0 1rem;
          }
        }
      }
    }

    .product-box-375 {
      width: 25%;
      height: 375px;
      background-color: $text-color-sub;

      @include flexCenter;
    }

    .product-box-250 {
      width: calc(100% / 6);
      height: 250px;

      @include flexCenter;

      background-color: $text-color-sub;
    }

    .brand-box-250 {
      width: 250px;
      height: 250px;

      @include flexCenter;

      img {
        width: fit-content;
      }
    }
  }
}
